// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap';

body {
    background-color: #fff;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.auth-box {
    min-width: 400px;
    box-shadow: 4px 1px 7px 5px #c2c2c2;
    padding: 40px 30px;
}

.auth-title {
    font-size: 25px;
}

.auth-pages .form-wrapper {
    border: 1px solid #c4c4c4;
    padding: 20px;
    max-width: 400px;
    background: #fff;
    text-align: center;
}

@media (max-width: 575px) {
    .auth-pages .form-wrapper {
        margin: 0 15px;
    }
}

.auth-pages .project-name {
    margin: 22px auto 12px;
    font-size: 35px;
    font-weight: bolder;
}

.auth-pages .project-description {
    font-weight: 600;
    line-height: 20px;
    font-size: 17px;
    margin-bottom: 30px;
    color: #999;
    text-align: center;
}

.auth-pages .form-wrapper input {
    font-size: 14px;
}

.auth-pages .input-auth {
    background-color: #fafafa;
}

.auth-pages .btn-auth {
    width: 100%;
}

.auth-pages .register-wrapper {
    margin-top: 40px;
}

.auth-pages .form-errors {
    font-size: 13px;
    text-align: left !important;
    color: #ed4956;
    margin: 3px 0;
}


// Task css

